@import './variables';

.mySwiper.review{
    padding-bottom: 50px;
    
    .swiper-button-prev ,.swiper-button-next{
        color: white;
        width: 40px;
        height: 40px;
        padding: 10px;
        background-color: $brandMain;
        top: 100%;
        transform: translateY(-50%);
        &::after{
            font-size: 1.6rem !important;
        }
    }
    .swiper-button-prev{
        left: 86%;
    }
}