$brandMain :                rgb(206, 124, 42);
$brandSecondary:            rgb(127, 112, 69) ;
$txtColor:                  rgb(68, 68, 68);
$backgroundMain:            rgb(255, 255, 255);
$backgroundSecondary:       rgb(245, 245, 245);
$serviceBtn:                rgb(255, 204, 1);
$hoverBtn :                 rgb(23, 59, 103) ;
$ratingStars:               rgb(255, 204, 1);